@import "tailwindcss";

@theme {
  --color-beatly-surface: #121212;
  --color-beatly-primary: #1DB954;
  --color-beatly-error: #e91429;
  --color-beatly-bg: #000000;
}

:root {
  --text: #ffffff;
  --bg: #000000;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

